// @use '../node_modules/tiny-slider/src/tiny-slider';
@use './styles/core/global';
@use './styles/core/editor';
@use './styles/core/type';
@use './styles/layout/main';
@use './styles/layout/header';
@use './styles/layout/footer';
@use './styles/blocks/blocks';